.nemos,
.nemos * {
    box-sizing: border-box;
}

.nemos {
    background: #fff0da;
    width: 1430px;
    height: 808px;
    position: absolute;
    overflow: hidden;
}


.rectangle {
    background: #ffffff;
    border-radius: 38px;
    width: 562px;
    height: 686px;
    position: absolute;
    left: 373px;
    top: 73px;
    box-shadow: 20px 15px 10px 5px rgba(86, 82, 82, 0.1);
}

.remember-me {
    color: rgba(0, 0, 0, 0.53);
    text-align: left;
    font-family: "Alef-Regular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 448px;
    top: 472px;
}

.loginbox {
    position: absolute;
    left: 742px;
    top: 460px;
}

.login-button {
    background-color: rgb(30, 91, 198);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.login-button:hover {
    background-color: rgb(30, 91, 198);
    border: 2px solid black;
}

.password {
    color: rgba(0, 0, 0, 0.51);
    text-align: left;
    font-family: "Alata-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 451px;
    top: 370px;
}

.email {
    color: rgba(0, 0, 0, 0.51);
    text-align: left;
    font-family: "Alata-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 468px;
    top: 306px;
}

.line-2 {
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px 0 0 0;
    width: 250px;
    height: 0px;
    position: absolute;
    left: 657px;
    top: 573px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.line-1 {
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px 0 0 0;
    width: 229px;
    height: 0px;
    position: absolute;
    left: 380px;
    top: 573px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.or {
    color: #000000;
    text-align: left;
    font-family: "Alef-Regular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 626px;
    top: 563px;
}

.sign-up-using {
    color: rgba(0, 0, 0, 0.53);
    text-align: left;
    font-family: "Alef-Regular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 595px;
    top: 600px;
}

.twitter-logo {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 685px;
    top: 636px;
    overflow: visible;
    transition: fill 2s;
}

.twitter-logo:hover path {
    fill: rgb(0, 170, 255);
}

.facebook-logo {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 622px;
    top: 636px;
    overflow: visible;
}

.facebook-logo:hover path {
    fill: blue;
}

.google-logo {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 564px;
    top: 636px;
    overflow: visible;
}

.google-logo:hover path {
    fill: rgb(191, 28, 28);
}

.welcome {
    color: #000000;
    text-align: left;
    font-family: Copperplate Gothic;
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    left: 555px;
    top: 183px;
}

.forget-password {
    color: rgba(0, 0, 0, 0.53);
    text-align: left;
    font-family: "Alef-Regular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 746px;
    top: 515px;
}

.i-n-fini-ty {
    color: #563131;
    text-align: left;
    font-family: Bodoni 72;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    left: 77px;
    top: 35px;
    width: 346px;
    height: 75px;
}

/* email and password input  */
.emailbox,
.passwordbox {
    background: rgba(133, 125, 125, 0.24);
    position: absolute;
    left: 565px;
}

.emailbox {
    width: 242px;
    height: 32px;
    top: 306px;
}

.passwordbox {
    width: 242px;
    height: 32px;
    top: 362px;
}

#password,
#email {
    width: 100%;
    height: 100%;
}

/* images placement  */
.image1 {
    width: 229px;
    height: 258px;
    position: absolute;
    left: -15px;
    top: 148px;
}

.image2 {
    width: 229px;
    height: 258px;
    position: absolute;
    left: 467px;
    top: 406px;
    transform-origin: 0 0;
    transform: rotate(180deg) scale(1, 1);
}

.image3 {
    width: 546px;
    height: 360px;
    position: absolute;
    left: -190px;
    top: 415px;
}

.image4 {
    border-radius: 35px;
    width: 660px;
    height: 350px;
    position: absolute;
    left: 908px;
    top: 130px;
}

.image5 {
    width: 255px;
    height: 270px;
    position: absolute;
    left: 1190px;
    top: 500px;
}

.image6 {
    width: 255px;
    height: 270px;
    position: absolute;
    left: 1180px;
    top: 770px;
    transform-origin: 0 0;
    transform: rotate(180deg) scale(1, 1);
}
